.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  border-bottom: 0.5px solid var(--clr-text-black);
  padding: 1rem 2.5rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  height: 12vh;
  z-index: 10;
  .Logo {
    position: relative;
    width: 110px;
    height: 40px;
  }
  .ticker {
    background-color: var(--clr-brandcolor);
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .linksContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    .link {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: all 0.8s;
      font-weight: 100;
      p {
        &:hover {
          font-weight: 900;
          scale: 1.01;
        }
      }
    }
  }
}
