.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border: .8px solid gray;

  .getStartedBtn {
    display: flex;
    gap: 2rem;
    display: flex;
    .vidDemoBtn {
      border: 0.5px solid gray;
      display: flex;
      align-items: center;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      gap: 9px;
      div {
        transform: translate();
      }
    }
  }


  .searchContainer{
    display: flex;
    align-items: center;
    background-color: var(--clr-lightGrayBg);
    border-radius: 10px;
    gap: 2rem;
    padding: 0 0 0 4rem;
    color: gray;
    .searchDiv{
        display: flex;
        gap: .8rem;
    }
  }

  .highlightsContainer{
    display: flex;
    align-items: center;
    gap: 1rem;
    .highlightsBtn{
        border: 1.5px solid var(--clr-secondary);
        padding: .6rem 1rem;
        border-radius: 15px;
    }
  }
}
