/* logo */
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
/* font-family: 'Sacramento', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
/* font-family: 'Kaushan Script', cursive; */

/* body */

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
/* font-family: 'Fredoka One', cursive; */

@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap");
/* font-family: 'Baloo Tamma 2', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  overflow-x: hidden;
}

.btnflex {
  @apply text-white flex items-center justify-center rounded-md
     font-comic my-8 px-4 
    py-2 hover:scale-105 active:scale-95 transition-all md:max-w-[100%];
}

.header {
  @apply text-center flex m-auto font-Fredoka text-[1.2rem]  py-8;
}

.userImg {
  @apply relative rounded-full w-[50px] h-[50px] overflow-hidden shadow-4xl;
}

.postsInput {
  @apply border border-blue-400;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.blogNavs {
  @apply bg-[#878686] active:bg-[#f00000] active:scale-95 transition-all 
  duration-300  active:outline-blue-500;
}
/* bg-gradient-to-bl from-purple-200 via-purple-500 to-purple-900 */
/* bg-gradient-to-bl from-stone-200 via-neutral-700 to-stone-900 */
.card {
  @apply bg-gradient-to-bl from-stone-200 via-neutral-700 to-stone-900
  /* bg-gradient-to-bl from-blue-300 via-blue-700 to-blue-900 */
  hover:border hover:border-gray-400 hover:shadow-4xl h-full flex flex-col rounded-lg px-6 py-6 items-start;
}
.postsCard {
  @apply flex flex-col hover:shadow-3xl hover:translate-y-[-10px] my-10 transition-all duration-100 
    font-comic mx-4 rounded-xl  hover:border bg-roadmapbg;
}
body {
  background-color: #fff;
}
