@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@1-1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --clr-primary: #0d133b;
  --clr-secondary: #ffa902;
  --clr-brandcolor: #ff8213;
  --clr-text-black: #0c0101;
  --clr-button-background: #d71400;
  --clr-blur-200: #67688b;
  --clr-lightGrayBg: rgba(111, 108, 108, 0.05);
  --clr-grey-border: rgba(111, 108, 108, 0.2);
  --clr-grey-text: #4F4F4F;
}

.headers {
  @apply font-bold text-[2.5rem];
}

/* onBoordingForm */
.onBoardHeaders {
  @apply font-bold text-[2.5rem] text-[#FF8213];
}
.authInputBox {
  @apply border border-gray-500 px-4 py-3 bg-white focus:outline-[none]
  w-[250px]
text-[.8rem];
}
.formBtns{
  @apply   text-center bg-[#ff8213] text-white font-semibold px-6 py-2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: auto;
  font-family: "IBM Plex Mono", monospace;
}
